@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a,
a:visited {
  color: rgb(243, 243, 243);
}

body {
  background: linear-gradient(to left, rgba(16, 35, 179, 0.9215686275), rgba(25, 118, 210, 0.7019607843));
  color: rgba(255, 255, 255, 0.82);
}

@keyframes opacity {
  from {
    opacity: 0;
    scale: 0.75;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes wiggle {
  0% {
    transform: translateY(-50px);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}
@keyframes cards {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
header {
  height: 90vh;
  text-transform: capitalize;
}
header .navheader {
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
  opacity: 0;
  animation: slideDown 2s ease-in-out 1.5s 1 forwards;
}
header .navheader ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  margin-top: 3%;
}
header .navheader ul li {
  transition: transform 0.3s ease-in-out;
}
header .navheader ul li:hover {
  transform: scale(1.2);
  z-index: 1;
}
header .TopHeader {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
header .TopHeader .imgHeader {
  display: flex;
  justify-content: end;
  height: 50%;
}
header .TopHeader .imgHeader #pp {
  border-radius: 150px;
  transition: transform 0.5s ease-in-out;
  animation: opacity 3s ease 0s forwards;
  opacity: 0;
}
header .TopHeader .imgHeader #pp:hover {
  transform: scale(1.2);
  z-index: 1;
}
header .TopHeader .txtHeader {
  font-family: "inter", serif;
  font-weight: 800;
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 60%;
  animation: opacity 3s ease 1s 1 forwards;
  opacity: 0;
  transition: transform 0.5s ease-in-out;
}
header .TopHeader .txtHeader:hover {
  transform: scale(1.2);
}
header .BottomHeader {
  min-height: 30vh;
  font-size: 2rem;
  font-family: "Montserrat", serif;
  text-align: center;
}
header .BottomHeader p {
  opacity: 0;
  animation: slideRight 1s ease-in 2s 1 normal forwards;
  line-height: 2.5rem;
  margin: 0 auto;
}
header .BottomHeader span {
  border: 2px solid white;
  border-radius: 50px;
  height: 80px;
  width: 80px;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  animation: wiggle 2s ease-out 3s infinite;
  opacity: 0;
}

main .projets h3 {
  font-family: "comfortaa", sans-serif;
  color: rgb(233, 233, 233);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 100px;
}
main .projets .card-group {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 80vw;
  margin: 0 auto;
  animation: cards;
  animation-timeline: view();
  animation-range: entry 10% cover 50%;
}
main .projets .card-group .card {
  cursor: pointer;
  max-width: 80%;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  /* This will produce the blur */
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.087);
  overflow: hidden;
  font-family: "Montserrat", serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  margin: 10% auto;
  transition: transform 0.3s ease;
}
main .projets .card-group .card:hover {
  transform: scale(1.05);
}
main .projets .card-group .card .imgCard {
  max-width: 95%;
  margin: 2rem auto;
}
main .projets .card-group .card h2 {
  width: 100%;
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 10%;
}
main .skills {
  color: rgb(17, 17, 17);
}
main .skills .technologies {
  margin: 0 auto;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  main .skills .technologies {
    max-width: 70vw;
    margin: 0 auto;
  }
}
main .skills .technologies h3 {
  font-family: "comfortaa", sans-serif;
  color: rgb(233, 233, 233);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 100px;
  margin-bottom: 75px;
}
main .skills .technologies ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}
main .skills .technologies ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  height: 100px;
  font-size: 1.3rem;
}
main .skills .technologies ul i {
  color: #fba52d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: transform 1.5s ease-in-out;
}
main .skills .technologies ul i:hover {
  transform: rotate(360deg);
}
main .skills .addskills {
  margin-bottom: 100px;
}
main .skills .addskills h3 {
  font-family: "comfortaa", sans-serif;
  color: rgb(233, 233, 233);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 100px;
  margin-bottom: 75px;
}
main .skills .addskills ul {
  display: grid;
  justify-items: center;
  grid-template-columns: 33% 33% 33%;
  font-family: "Montserrat", serif;
  text-transform: capitalize;
  max-width: 90vw;
  margin: 0 auto;
}
main .skills .addskills ul li {
  font-size: 1.3rem;
  line-height: 3rem;
}
main .about {
  font-family: "Merriweather", serif;
  line-height: 2.5rem;
}
main .about h3 {
  font-family: "comfortaa", sans-serif;
  color: rgb(233, 233, 233);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 100px;
  margin-bottom: 75px;
}
main .about .years {
  display: grid;
  justify-items: center;
  grid-template-columns: 33% 33% 33%;
  font-family: "Montserrat", serif;
  max-width: 90vw;
  margin: 0 auto;
}
main .about .years ul {
  margin: 0 auto;
  margin-left: 5%;
  position: relative;
  font-size: 1.3rem;
  font-family: "Montserrat", serif;
  color: rgb(17, 17, 17);
  max-width: 500px;
}
main .about .years ul:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 90%;
  background-color: rgb(17, 17, 17);
  top: 20px;
  left: -10px;
}
main .about .years li {
  margin-left: 5%;
  color: rgb(17, 17, 17);
}
main .about p {
  color: rgb(17, 17, 17);
  font-family: "Montserrat", serif;
  font-size: 1.4rem;
  line-height: 3rem;
  max-width: 80vw;
  margin: 100px auto;
  font-style: italic;
}
main .about button {
  margin: 0 auto;
  padding: 2em 4em;
  background-color: #161a20;
  border: none;
  color: rgb(243, 243, 243);
  border-radius: 1000px;
  font-family: "inter", serif;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about button:after {
  content: "";
  position: absolute;
  height: 107%;
  width: 102%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #ffea00, #7e00ec);
  z-index: -1;
  transition: transform linear;
}
main .about button:hover {
  z-index: 0;
  transform: scale(1.2);
}

footer {
  background-color: rgb(17, 17, 17);
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .socialnetworks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
footer .socialnetworks i {
  font-size: 1.3rem;
}/*# sourceMappingURL=index.css.map */