main {
    .projets {
        h3 {
            @include title;
            padding: 10%;
        }

        .card-group {
            display: flex;
            flex-direction: column;

            .card {
                height: 270px;
                width: 270px;
                border-radius: 25px;
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(30px);
                /* This will produce the blur */
                border: 2px solid rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.087);
                overflow: hidden;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 70% 30%;
                align-items: end;
                justify-content: start;
                justify-items: center;
                transition: transform 0.3s ease;
                margin: 5% auto;
                margin-bottom: 50px;
                font-family: "Montserrat", sans-serif;

                &:hover {
                    transform: scale(1.1);
                }

                .imgCard {
                    max-height: 150px;
                }

                h2 {
                    width: 100%;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    text-transform: capitalize;
                    margin-bottom: 10%;

                }
            }
        }
    }

    .skills {
        color: black;

        .technologies {
            h3 {
                @include title;
                padding: 10%;
            }

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                width: 100%;


                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: capitalize;
                    font-family: $font2;
                    height: 100px;

                }

                i {
                    color: #fba52d;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;

                }

                // .fa-solid {
                //     color: #fba52d;
                //     border: 1px solid black;
                // }
            }
        }

        .addskills {
            margin-bottom: 10%;

            h3 {
                @include title;
                padding: 10%;
            }

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin-left: 10%;
                font-family: $font2;
                text-transform: capitalize;
                line-height: 2rem;
            }
        }
    }

    .about {
        margin-bottom: 100px;
        font-family: $font2;
        line-height: 2rem;
        width: 100%;

        h3 {
            @include title;
            padding: 10%;
        }

        .years {
            display: flex;
            margin-bottom: 100px;

            ul {
                margin-left: 5%;
                position: relative;
                max-width: 30%;
            }

            ul:before {
                content: "";
                position: absolute;
                width: 2px;
                height: 90%;
                background-color: black;
                top: 20px;
                left: -10px;
            }

            li {
                margin-left: 5%;
            }


        }

        button {
            margin: 0 auto;
            padding: 2em 4em;
            background-color: #161a20;
            border: none;
            color: $white1;
            border-radius: 1000px;
            font-family: $font2;
            text-transform: uppercase;
            position: relative;
            cursor: pointer;
            transition: 2s;

            // pour que l'after se mette bien dans le button
            display: flex;
            justify-content: center;
            align-items: center;

            &:after {
                content: "";
                position: absolute;
                height: 107%;
                width: 102%;
                border-radius: 1000px;
                background-image: linear-gradient(to bottom right, #008cff, #e100ff);
                z-index: -1;
                transition: transform 0.2s ease;
            }

            &:hover {
                z-index: 0;
                box-shadow: 40px 0 100px #008cff, -40px 0 100px #e100ff;
                transform: scale(1.2);
            }
        }
    }
}