// font-family: "inter-bold";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



// font-family: "Merriweather";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');



// font-family: 'Montserrat';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// font-family:"Confortaa";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');




$font1: "inter", serif;
$font2: "Merriweather", serif;
$font3: "Montserrat", serif;
$font4: "comfortaa", sans-serif;
$black1: rgb(17, 17, 17);
$white1: rgb(243, 243, 243);
$white2: rgb(233, 233, 233);


@mixin title {
    // tous les titres en inter
    font-family: $font1;
    color: $white2;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 75px;

}

@mixin subtitle {
    // tous les titres en inter
    font-family: $font4;
    color: $white2;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10%;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a,
a:visited {
    color: $white1;
}

body {
    background: linear-gradient(to left, #1023b3eb, #1976d2b3);
    color: rgba(255, 255, 255, 0.82);
}

// réglage pour tous mes boutons 

// .btn {
//     background: none;
//     border: 2px solid $black1;
//     color: $black1;
//     height: 45px;
//     width: 170px;
//     font-size: 0.75rem;
//     cursor: pointer;
//     // inclure la mixin aux btn
//     @include title;


//     &:hover {
//         // faire grossir le bouton
//         transform: scale(1.05);
//         // transition smooth
//         transition: 0.3s;
//         // faire grossir le texte
//         font-weight: bolder;
//     }
// }

// animation photo et texte header
@keyframes opacity {
    from {
        opacity: 0;
        scale: 0.75;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

// animation texte bottom header
@keyframes slideRight {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }

}

// animation nav header
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

// animation span
@keyframes wiggle {
    0% {
        transform: translateY(-50px);
        opacity: 1;
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50px);
        opacity: 1;
    }
}

// animation cards
@keyframes cards {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}